workflows-json/Workflow 4 Video Posting.json
{
  "name": "NextAura Video Posting WF copy without credentials",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "60c9e0a4-87ce-4fae-9f66-dfc7bd6dd60d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -64
      ],
      "id": "8a38f2b7-b550-4be3-9bfb-9adc87c11f21",
      "name": "Webhook",
      "webhookId": "60c9e0a4-87ce-4fae-9f66-dfc7bd6dd60d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f63b2a3d-5c54-4582-827d-c1309fbf0c40",
              "name": "body.productName",
              "value": "={{ $json.body.productName }}",
              "type": "string"
            },
            {
              "id": "ba603c65-f4f8-4b12-ab2c-d5f933aad5e9",
              "name": "body.videoScript",
              "value": "={{ $json.body.videoScript }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        -64
      ],
      "id": "14410485-3240-4403-9cc1-2852f04dfd27",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a cinematic promotional video based on the following details:\n\nSubject: {{ $json.body.productName }}\nDescription: {{ $json.body.videoScript }}\nStyle: {{ $json.style || \"cinematic commercial\" }}\nMood: {{ $json.mood || \"premium, modern, professional\" }}\nEnvironment: {{ $json.environment || \"clean studio or realistic lifestyle setting\" }}\nCamera: smooth cinematic camera movement with shallow depth of field\nLighting: professional soft lighting with realistic shadows\nDuration: 5–8 seconds\nQuality: ultra-realistic, sharp focus, high resolution\n\nGenerate a single coherent scene suitable for social media advertising. it should be in one paragraph\n",
        "options": {
          "systemMessage": "You are a professional video prompt engineer specializing in AI-generated cinematic videos.\n\nYour task is to transform structured user inputs into a single, high-quality video generation prompt optimized for Veo-style text-to-video models.\n\nRules:\n- Produce ONE concise but vivid cinematic prompt.\n- The output must be exactly ONE paragraph.\n- Do NOT use line breaks, new lines, lists, or separators.\n- Describe scene, subject, motion, lighting, camera movement, mood, and realism.\n- Avoid mentioning AI, prompts, models, or technical instructions.\n- Do NOT include explanations, bullet points, or extra text.\n- Do NOT include JSON, markdown, or labels.\n- The output must be plain text only.\n- Assume the video will be photorealistic and high quality.\n- Optimize for short commercial-style video generation.\n\nAlways return only the final video prompt text as a single paragraph.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -640,
        -64
      ],
      "id": "6e2ae7c0-96fa-4e86-84f0-cdcf7423e568",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -576,
        160
      ],
      "id": "3ef813b5-35c8-42ac-8670-921768eaff32",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rnjUsJhnDNay7Vhz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        -64
      ],
      "id": "4c24cb1a-71f2-4640-8e7c-6a3c8126dea2",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -64,
        -64
      ],
      "id": "d5d2ff21-7c30-46c3-9c5e-84def11bc302",
      "name": "Wait",
      "webhookId": "cd8c1a74-b715-44d0-b5bb-bc774e181b7e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f1ba0c1-cf2c-4735-bbfa-ba70edcf5f31",
              "leftValue": "={{ $('Webhook').item.json.body.facebook }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        -256
      ],
      "id": "027665c1-09d9-4517-bb8e-73089bded7aa",
      "name": "If facebook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -256
      ],
      "id": "deea61d1-3e6e-4d28-8d56-84491a62555b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -64
      ],
      "id": "cef94e79-f5bd-4897-a38f-85e75e5054ff",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        128
      ],
      "id": "042ee823-a600-4487-953a-aa91deaec943",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f1ba0c1-cf2c-4735-bbfa-ba70edcf5f31",
              "leftValue": "={{ $('Webhook').item.json.body.instagram }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        -64
      ],
      "id": "5b012dd4-9979-4ee1-b50e-2a5b9e07f6e1",
      "name": "If Insta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f1ba0c1-cf2c-4735-bbfa-ba70edcf5f31",
              "leftValue": "={{ $('Webhook').item.json.body.youtube }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        128
      ],
      "id": "d5d37b2a-2bd8-4ffd-800e-73bb518b15cd",
      "name": "If Youtube"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "DigiAcademicHub",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json.result.urls[0] }}"
              },
              {
                "name": "message",
                "value": "={{ $json.captionText }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        832,
        -256
      ],
      "id": "5f5df2f8-f7cc-4142-8073-9853b07d2119",
      "name": "Facebook Posting Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "kFGdwkeDogAbVR7m",
          "name": "digiacademic hub page posting"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Set Image & Caption').item.json.Node }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "image_url",
                "value": "={{ $('Set Image & Caption').item.json.imageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Set Image & Caption').item.json.captionText }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1056,
        -64
      ],
      "id": "54342a03-4333-4e21-91c4-298b05d80419",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "2SSS42jzElqKI2WG",
          "name": "instagram attempt 2"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.Node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.captionText }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        832,
        -64
      ],
      "id": "1e32f622-a601-4542-8581-ed44c330329e",
      "name": "Instagram Creating Container ID",
      "credentials": {
        "facebookGraphApi": {
          "id": "2SSS42jzElqKI2WG",
          "name": "instagram attempt 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output }}\",\n   \"model\": \"veo3_fast\",\n  \"watermark\": \"MyBrand\",\n  \"callBackUrl\": \"https://n8n.digiacademichub.com/rest/oauth2-credential/callback\",\n  \"aspectRatio\": \"16:9\",\n  \"seeds\": 12345,\n  \"enableFallback\": false,\n  \"enableTranslation\": true,\n  \"generationType\": \"REFERENCE_2_VIDEO\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        -64
      ],
      "id": "308a7e71-8123-41f3-822b-a2e9c47c3e55",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "resource": "video",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        832,
        128
      ],
      "id": "a8cc615f-87d9-4c4a-bdb7-32ec3c76f635",
      "name": "Get many videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "AMkIxEEIIzKBbBc6",
          "name": "Digi Youtube Credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## Video Generation & Upload workflow\n**Generates promotional videos using VEO 3 based on product details, then automatically uploads and publishes the video to Facebook, Instagram, and YouTube, and updates the publishing status in the tracking sheet.**",
        "height": 576,
        "width": 2368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        -272
      ],
      "id": "df522e88-a01d-45de-b8e2-35a78896fd51",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If facebook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Insta": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Youtube": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Facebook Posting Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Creating Container ID": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Instagram Creating Container ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Insta",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2932e97-fa18-44d2-964c-ab9080102d2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "580149fc39dc462fb7c4798e0c9ed839455bb134ae25e4f9f53ed2c2bf4404a7"
  },
  "id": "hrVnPyGjmEfilYyu",
  "tags": []
}